//https://datatables.net/reference/api/column().visible()
//Column Visibility geeft problemen in laravel alsook responisve moet uitstaan , zodoende via sass
th.hidden-column, td.hidden-column {
    display: none;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}
