.detailmainbox {
    border-width: 1px;
    border-radius: 15px;
    padding: 25px;
    background-color: white;;

}
h4{
    color: $TmOrange;
}
.detailtable{
    height:200px;
    overflow-y:auto;
    width: 100%;
}

