.detailmainbox {
    border-width: 1px;
    border-radius: 15px;
    padding: 25px;
    background-color: white;;

}

.detailtable{
    height:200px;
    overflow-y:auto;
    width: 100%;
}
.submitbtn {
    min-width: 200px !important;
}
h4{
    color: $TmOrange;
}
.modalborder {
    border-radius: 15px !important;
    border-color: $TmOrange !important;
    border-width: 2px !important;
}
.rowheight{
    max-height: 40px;
}

