@media only screen and (max-width: 480px) {
    .footerDetails {
        display: none;
    }
    .footerSmall {
        font-size: small;
        height: 3vh;
    }
}

.footerHeigth {
    height: 12vh;
    border-top: $Orange;
    border-style: outset;
    border-width: 1px;
    background-color: $Dark;

}
.footer,span{
    color: $White;
    text-decoration: underline;
    text-decoration-color: $Orange;
    }
.footer,i,a,p,h6{
    color: $LightGray!important;
}


