@media only screen and (max-width: 480px) {
    .footerSmall {
        font-size: small;
        height: 3vh;
    }
}

.footerHeigth {
    background-color: $TmGrey;

}
.footer,span{
    color: $LightGray;
    }
.footer,i,a,p,h6{
    color: $LightGray!important;
}
.aboutmodal {
    background-color: $TmGrey !important;
    border-radius: 30px !important;
}


