$Blue:#0091a6;
$Orange: #e73e16;
$White: #fefefb;
$Green: #2d995a;
$Gray: #e8e6e2;
$Yellow: #f2b700;


//-----------------------------------------------------------
.color_Orange_Back {
    background: $Orange;
    color: $Gray;
}

.color_Orange
{
    color: $Orange;
}
.color_Yellow
{
    color: $Yellow;
}
.color_Green
{
    color: $Green;
}
.color_Blue
{
    color: $Blue;
}
