$White: #fefefb;
$Green: #78a346;
$Yellow: #f2b700;
$LightGray:#bababa;
$TmBlue: #009cab;
$TmOrange:#f04c25;
$TmGrey: #575757;


//-----------------------------------------------------------
.color_Orange_Back {
    background: $TmOrange;
    color: $LightGray;
}
.color_LightGray
{
    color: $LightGray;
}

.color_Orange
{
    color: $TmOrange;
}
.color_Yellow
{
    color: $Yellow;
}
.color_Green
{
    color: $Green;
}
.color_Blue
{
    color: $TmBlue;
}
.color_White
{
    color: $White;
}
.color_TMGrey{
    background-color: $TmGrey;
}
#body{
   background-color: $LightGray;
}
