
.color_White {
    color: #fefefb;
}

.color_Green {
    color: #2d995a;
}

.color_Orange_Back {
    background: #e73e16;
    color: #e8e6e2;
}
.color_Orange {
    background: #e73e16;
}

.color_Gray {
    color: #e8e6e2;
}

.color_Yellow {
    color: #f2b700;
}
