.login,
.image {
    min-height: 100vh;
}
.loginLogo{
    max-height: 50vh;
}
.mobilelogo{
    max-width: 20vh;
}
.bgColor {
    background-color: $TmBlue;
}
.btnColor{
    background-color: $TmBlue;
}
.registericon {
    font-size: 30px;

}

