html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
