html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.subheadertitle{
    font-size: 300% ;

}
h5  {
    color: $LightGray;
}
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.ui.table thead {
    display: none !important;
}



