
.logo {
    max-width: 80px;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-left: 2vh;
}
.header {
    background-color: $TmBlue;
    height: 13vh;
}
.headertitle{
    font-size: 56px;
    padding-top: 2vh;
    padding-bottom: 1vh;

}
.menu-icons {
    font-size: 30px;
}
.sidenav {
    height: 82vh;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 13vh;
    left: 0;
    background-color: $TmBlue;
    //overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
