.logo {
    max-width: 8vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin-left: 2vh;
}
.header {
    background-color: $TmGrey;
    height: 13vh;
    width: 100%;
}
.headertitle{
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 120%;
        padding-left: 15vw;
        padding-top: 4vh;
        padding-bottom: 2vh;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        font-size: 200%;
        padding-left: 8vw;
        padding-top: 4vh;
        padding-bottom: 2vh;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        font-size: 200%;
        padding-left: 3vw;
        padding-top: 3vh;
        padding-bottom: 2vh;

    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        font-size: 300%;
        padding-left: 7vw;
        padding-top: 4vh;
        padding-bottom: 2vh;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        font-size: 300%;
        padding-left: 1vw;
        padding-top: 1vh;
        padding-bottom: 2vh;

    }
    color: $LightGray;
}

.menu-icons {
    font-size: 30px;
}
.sidenav {
    height: 100vh;
    width: 80px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: $TmGrey;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebarfooter{
    position: absolute;
}
