.btnTableAdd
{
    background-color: transparent;
    color: $TmBlue!important;
    margin-left: 10px;
}

.btnTableEdit
{
    background-color: transparent;
    color: $Green!important;
    //margin-left: 10px;
}
.btnTableDelete
{
    background-color: transparent;
    color: $TmOrange!important;
    margin-left: 10px;
}
.btnTableView
{
    background-color: transparent;
    color: $Purple!important;
    margin-left: 10px;
}

