.btnTableAdd {
    background-color: transparent !important;
    color: $TmBlue !important;
    margin-left: 10px;
}

.btnTableEdit {
    background-color: transparent !important;
    color: $Green !important;
}

.btnTableDelete {
    background-color: transparent !important;
    color: $TmOrange !important;
}

.btnTableView {
    background-color: transparent !important;
    color: $Purple !important;
    text-align: center;
}

.btnTableExpConcept {
    background-color: transparent !important;
    color: $TmOrange !important;
    text-align: center;

}

.btnTableExpIngediend {
    background-color: transparent !important;
    color: $Purple !important;
    text-align: center;


}

.btnTableExpOk {
    background-color: transparent !important;
    color: $Green !important;
    text-align: center;
}

.btnTableExpAfgekeurd {
    background-color: transparent !important;
    color: $Red !important;
    text-align: center;
}
