// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Noty
@import '~noty/src/noty';
@import '~noty/src/themes/bootstrap-v4';

// Icons
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Modules
@import "homeStyleColors";
@import "navBar";
@import "footer";
@import "login";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
